"$schema" = 'https://starship.rs/config-schema.json'

palette = 'catppuccin-mocha'

format = """
$hostname$container\
[](fg:user-bg bg:none)$os$username\
[](fg:prev_bg bg:path-bg)$directory\
([](fg:prev_bg bg:git-bg)$git_state$git_branch$git_commit)\
[](fg:prev_bg bg:none)$git_status\
$fill\
(\
([](fg:duration-bg bg:prev_bg)$cmd_duration)\
([](fg:error-bg bg:prev_bg)$status)\
[](fg:prev_bg bg:none)\
)
$character"""

right_format = '$python( $jobs)( $shlvl)'

[container]
symbol = ' '
format = '[](fg:container-bg bg:none)[$symbol$name]($style)[](fg:container-bg bg:none)'
style = 'fg:container-fg bg:container-bg'

[hostname]
ssh_symbol = '󰢹 '
trim_at = ''
style = 'fg:host-fg bg:host-bg italic'
format = '[](fg:host-bg bg:none)[$ssh_symbol$hostname]($style)[](fg:host-bg bg:none)'

[os]
disabled = false
style = 'fg:user-fg bg:user-bg'

[os.symbols]
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
#AOSC = " "
Arch = " "
Artix = " "
CentOS = " "
Debian = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = " "
Gentoo = " "
Illumos = " "
Kali = " "
Linux = " "
Macos = " "
Manjaro = " "
Mint = " "
NixOS = " "
#Nobara = " "
OpenBSD = " "
openSUSE = " "
OracleLinux = " "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Solus = " "
SUSE = " "
Ubuntu = " "
Unknown = " "
Void = " "
Windows = " "

[username]
show_always = true
style_user = 'fg:user-fg bg:user-bg italic'
style_root = 'fg:root-fg bg:root-bg bold'
format = '[$user]($style)'

[directory]
truncation_length = 5
truncate_to_repo = true
truncation_symbol = ' /'
read_only = '󰌾 '
home_symbol = ' '
style = 'fg:path-fg bg:path-bg'
read_only_style = 'fg:path-fg bg:path-bg'
repo_root_style = 'fg:path-fg bg:path-bg bold'
format = """
[ $path]($style)\
[ $read_only]($read_only_style)"""
repo_root_format = """[ $before_root_path]($before_repo_root_style)\
[$repo_root]($repo_root_style)\
[$path]($style)\
[$read_only]($read_only_style)"""

[git_state]
rebase = ' '
merge = ' '
revert = ' '
cherry_pick = ' '
bisect = ' '
am = ' '
am_or_rebase = ' / '
style = 'fg:git-fg bg:git-bg'
format = '[ $state($progress_current/$progress_total)]($style)'

[git_branch]
symbol = ' '
style = 'fg:git-fg bg:git-bg'
format = '[ $symbol$branch(:$remote_branch)]($style)'

[git_commit]
commit_hash_length = 7
tag_disabled = false
tag_symbol = ' '
style = 'fg:git-fg bg:git-bg'
format = '[  $hash $tag]($style)'

[git_status]
conflicted = '[(=$count)](fg:git-conflicted)'
ahead = '[(⇡$count)](fg:git-ahead)'
behind = '[(⇣$count)](fg:git-behind)'
diverged = '[(⇣$behind_count)](fg:git-behind)[(⇡$ahead_count)](fg:git-ahead)'
untracked = '[(?$count)](fg:git-untracked)'
stashed = '[(\$$count)](fg:git-stashed)'
modified = '[(!$count)](fg:git-modified)'
staged = '[(+$count)](fg:git-staged)'
renamed = '[(»$count)](fg:git-renamed)'
deleted = '[(✘$count)](fg:git-deleted)'
typechanged = '[(T$count)](fg:git-typechanged)'
format = """( \
$ahead_behind$conflicted\
$staged$renamed$typechanged$deleted\
$modified$untracked$stashed\
)"""

[fill]
symbol = ' ·'
style = 'fg:fill dimmed'

[cmd_duration]
min_time = 1_000                        # 1 sec
format = '[ $duration ]($style)'
style = 'fg:duration-fg bg:duration-bg'

[status]
disabled = false
map_symbol = true
pipestatus = true
symbol = ' '
not_executable_symbol = ' '
not_found_symbol = ' '
sigint_symbol = '󰹇 '
signal_symbol = ' '
#success_symbol = '󰗠 '
format = '[$symbol($signal_name$common_meaning )$status]($style)'
pipestatus_format = """
[$symbol($signal_name$common_meaning )\
\\[$pipestatus\\]=>$status]($style)"""
pipestatus_segment_format = '$status'
style = 'fg:error-fg bg:error-bg'

[character]
success_symbol = '[\[I\]](fg:char-success)[](fg:prompt)'
error_symbol = '[\[I\]](fg:char-failure)[](fg:prompt)'
vimcmd_symbol = '[\[N\]](fg:vi-normal)[](fg:prompt)'

# fish only
vimcmd_replace_symbol = '[\[R\]](fg:vi-replace)[](fg:prompt)'
vimcmd_replace_one_symbol = '[\[R\]](fg:vi-replace)[](fg:prompt)'
vimcmd_visual_symbol = '[\[V\]](fg:vi-visual)[](fg:prompt)'

[python]
# only show virtualenv
symbol = ' '
format = '[$symbol$virtualenv]($style)'
style = 'fg:python'
detect_extensions = []
detect_files = []

[jobs]
symbol = '󱌣 '
format = '[$symbol$number]($style)'
style = 'fg:jobs'

[shlvl]
disabled = false
symbol = ' '
format = '[$symbol$shlvl]($style)'
style = 'fg:shlvl'

[palettes.catppuccin-mocha]
host-fg = 'black'
host-bg = 'yellow'
container-fg = 'black'
container-bg = 'cyan'
user-fg = 'black'
user-bg = 'white'
root-fg = 'black'
root-bg = 'red'
path-fg = 'black'
path-bg = 'blue'
git-fg = 'black'
git-bg = 'green'
git-ahead = 'green'
git-behind = 'red'
git-conflicted = 'red'
git-staged = 'green'
git-renamed = 'blue'
git-typechanged = 'cyan'
git-deleted = 'red'
git-modified = 'yellow'
git-untracked = 'blue'
git-stashed = 'yellow'
fill = 'white'
jobs = 'cyan'
duration-fg = 'black'
duration-bg = 'white'
error-fg = 'black'
error-bg = 'red'
sudo = 'red'
char-success = 'green'
char-failure = 'red'
vi-normal = 'blue'
vi-visual = 'cyan'
vi-replace = 'yellow'
prompt = 'white'
python = 'yellow'
shlvl = 'blue'
